registry=http://localhost:8081/repository/npm-hosted/
//localhost:8081/repository/npm-hosted/:_auth=YWRtaW46MTlmNzc3ZTQtODVlYy00ZjJkLWE5YjQtMmVmZjg5NWE2NzRj
//localhost:8081/repository/npm-hosted/:email=admin@example.org
always-auth=true
